.*.swp
.DS_Store
/.apt_generated/
/.settings/
/.project
/.gradle
/.classpath
/.project
/.settings
/.factorypath
/.sts4-cache
/.vscode
dependency-reduced-pom.xml
/bin
/build
/src/main/java/META-INF/
/src/main/webapp/META-INF/

/target
